In [ ]:
%sql
show databases

In [1]:
%sql
show tables

In [2]:
%sql
use default

In [3]:
%sql
SELECT `nombre departamento`,count(*) as `counter` FROM `default`.`covid1` GROUP BY `nombre departamento` ORDER BY `counter` DESC LIMIT 10;

In [4]:
%sql
SELECT `nombre municipio`,count(*) as `counter` FROM `default`.`covid1` GROUP BY `nombre municipio` ORDER BY `counter` DESC LIMIT 10;

In [5]:
%sql
SELECT `fecha reporte web`,count(*) as `counter` FROM `default`.`covid1` GROUP BY `fecha reporte web` ORDER BY `counter` DESC LIMIT 10;

In [6]:
%sql
SELECT `unidad de medida de edad`, edad, count(*) as `counter` FROM `default`.`covid1` GROUP BY `unidad de medida de edad`, edad;

In [7]:
%sql
SELECT `nombre departamento`,`unidad de medida de edad`, edad, count(*) as `counter` FROM `default`.`covid1` GROUP BY `nombre departamento`,`unidad de medida de edad`, edad ORDER BY `nombre departamento` ASC;

In [8]:
%%sql